<div>

<div>
    <label for="username">username</label>
    <input autocorrect="off" autocapitalize="off" spellcheck="false" type="text" ng-model="user.username" id="username"/>
</div>
<div>
    <label for="email">email</label>
    <input autocorrect="off" autocapitalize="off" spellcheck="false" type="text" ng-model="user.email" id="email"/>
</div>

<div>
    <label for="password1">password</label>
    <input type="password" ng-model="user.password1" id="password1"/>
</div>
<div>
    <label for="password2">password again</label>
    <input type="password" ng-model="user.password2" id="password2"/>
</div>

</div>
